@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'NanumSquareNeo-Variable';
    list-style:none;
}
.content{
    margin-top: 100px;
}
#content_top_font > h2{
    text-align: center;
    font-size: 25px;
    color:#2f9eff;
}
#delivery_status{
    display: flex;
    align-items: center;
    margin-top:50px;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: solid 1px #335b9c;
}
#delivery_infomation{
    margin:50px 0;
}
.delivery_box{
    width: 20%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border:solid 1px #d9d9d9;
    margin:50px 0 0 0;
}
.delivery_content{
    display: flex;
    align-items: center;
}
.delivery_content img{
    width: 100px;
    height: 100px;
}