@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
}
#header{
    display: flex;
    align-items: center;
    margin: 20px 0 30px 20px;
}
#logo {
    width: 70px;
    height: 80px;
}
#name {
    color: #16448E;
    font-size: 35px;
    font-family: 'NanumSquareNeo-Variable';
}
#nb_name{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
#nb_name li{
    color: #16448E;
    list-style: none;
    font-size: 20px;
    font-family: 'NanumSquareNeo-Variable';
}
#banner {
    width: 1940px;
    height: 800px;
}
#container{
    display: flex;
    margin: 200px;
    justify-content: space-evenly;
}
#container1{
    display: flex;
}
.box{
    width : 250px;
    height: 250px;
    border : 1px solid;
    text-align: center;
    background-color: #ffffff;
    background-size: 150px 150px;
    background-position: center;
    background-repeat: no-repeat;
}
#box1{
    background-image: url(register.png);
}
#box2{
    background-image: url(inq.png);
}
#box3{
    background-image: url(dog.png);
}
#box4{
    background-image: url(shop.png);
}
#dog_t{
    font-family: 'NanumSquareNeo-Variable';
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
}
#dog_bg{
    background-color: #F8F8F8;
    width: 1940px;
    height: 1000px;
}
.dog{
    border: 1px solid;
    border-radius: 25%;
    width: 250px;
    height: 260px;
}
#shop_t{
    font-family: 'NanumSquareNeo-Variable';
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
}
.shop_box{
    width: 300px;
    height: 310px;
    border: 1px solid;
    border-radius: 10%;

}
#footer{
    width: 1940px;
    height: 500px;
    background-color: #16448E;
}