<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/dog_detail_inq.css">
    <link rel="stylesheet" href="/css/public.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
<header id="header" th:replace="publicHF/header::header"></header>
    <div id="line"></div>


    <div id="container">
        <h1 id="main_nb">반려견 상세 조회</h1>
        <div id="container1">
            <h2 class="content_text">제목</h2>
            <h2 class="content_text">등록번호</h2>
        </div>

        <div class="dogbox_wrap">
            <div id="dogbox_wrap1">
                <div class="dogbox_img"></div>
                <div class="dogbox_img"></div>
            </div>
            <div id="dogbox_wrap2">
                <p class="content_text">이름 : </p>
                <p class="content_text">나이 : </p>
                <p class="content_text">성별 :
                    <p class="content_text">품종 :</p>
                    <p class="content_text">접종 여부:</p>
                    <p class="content_text">중성화 여부 :</p>
                    <p class="content_text">특이 사항 :</p>
                    <p class="content_text">입양 날짜 :</p>
            </div>
        </div>
        <div id="dogbox_img2"></div>
        <h1 id="main_nb2">입양 후 근황</h1>
        <div id="container2">
            <div class="dogbox_img3"></div>
            <div class="dogbox_img3"></div>
            <div class="dogbox_img3"></div>
            <div class="dogbox_img3"></div>
        </div>

    </div>

    <footer id="footer" th:replace="publicHF/footer::footer">
        <div></div>
    </footer>
</body>

</html>