<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/payment_complete.css">
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/swiper.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
    <header id="header">
        <img id="logo" src="img\logo.png">
        <h1 id="name">마음이</h1>

        <ul id="nb_name">
            <li><a href="">입양 안내</a></li>
            <li><a href="">반려견 조회</a></li>
            <li><a href="">유기견 분양</a></li>
            <li><a href="">펫세사리</a></li>
        </ul>
    </header>
    <div class="line"></div>

        <div id="container0">
                <div id="content_top_font">
                    <h2>주문이 완료되었습니다.</h2>
                </div>
                <ul id="product_info">
                <li>받는 사람</li>
                <li>받는 주소</li>
                <li>상품명</li>
                <li>총 상품 가격</li>
            </ul>
                <input type="button" class="product_detail" value="주문 상세 보기">
                <input type="button" class="return" value="쇼핑 계속 하기">
                </div>
            <footer>
                <div id="footer"></div>
            </footer>
</body>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="js/addr.js"></script>
</html>