<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/public.css">
    <link rel="stylesheet" href="/css/product/product_detail.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/product_detail.js"></script>
    <script src="/js/topButton.js"></script>
    <title>Document</title>
</head>
<body>
<header id="header" th:replace="publicHF/header::header"></header>

<div id="container0">
    <div id="bt_container" th:if="${session.userid == 'admin'}">
        <div id="add_content">
            <button id="correct_bt"><a href="">수정</a></button>
        </div>
        <div id="add_content2">
            <button id="del_bt"><a href="">삭제</a></button>
        </div>
    </div>
    <form>
        <div id="purchase">
            <button id="mem_purchase" th:if="${session.username != null}">구매하기</button>
            <button id="non_purchase" th:if="${session.username == null}">구매하기</button>
        </div>
        <div class="product_name">
            <h1>군번 인식표</h1>
            <h4>빅 유광 인식표 목걸이</h4>
        </div>
        <div class="product_img"></div>
        <div class="product_img"></div>
        <div class="product_img"></div>
        <div id="bt_container2">
            <div id="bottom_t"> <a href="/petcesary"> 다른 상품 보러가기 ></a></div>
        </div>
    </form>
</div>
<footer id="footer" th:replace="publicHF/footer::footer">
    <div></div>
</footer>
</body>
</html>