<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/product/productbuy.css">
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/swiper.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="js/productbuy.js"></script>
</head>

<body>
    <header id="header" th:replace="publicHF/header::header">

    </header>

    <div class="line"></div>

        <div id="container0">
            <div id="content_top_font">
                <h2>주문이 완료되었습니다.</h2>
            </div>
            <ul id="product_info">
                <li>받는 사람</li>
                <li>받는 주소</li>
                <li>상품명</li>
                <li>총 상품 가격</li>
            </ul>
            <input type="button" class="product_detail" value="주문 상세 보기">
            <input type="button" class="return" value="쇼핑 계속 하기">
        </div>
    <footer id="footer" th:replace="publicHF/footer::footer">
        <div></div>
    </footer>
</body>
</html>