<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/abandog/abandog_detail.css">
    <link rel="stylesheet" href="/css/public.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/abandog_detail.js"></script>
    <script src="/js/topButton.js"></script>
</head>

<body>
<header id="header" th:replace="publicHF/header::header"></header>
<div id="line"></div>

<div id="container0">
    <div id="bt_container">
        <div id="add_content">
            <button id="correct_bt"><a href="">수정</a></button>
        </div>
        <div id="add_content2">
            <button id="del_bt"><a href="">삭제</a></button>
        </div>
    </div>

</div>

<footer id="footer" th:replace="publicHF/footer::footer">
    <div></div>
</footer>
</body>

</html>
