<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/abandog/abandog_list.css">
    <link rel="stylesheet" href="/css/public.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/abandog_list.js"></script>
    <script src="/js/topButton"></script>
</head>

<body>
<header id="header" th:replace="publicHF/header::header"></header>
    <div id="line"></div>


    <div id="container0">
        <h1 id="main_nb">유기견 무료 입양</h1>
        <div id="container">
            <div id="add_content">
                <button id="add_list"> <a href="/abandog/detail/insert">유기견 등록하기</a> </button>
            </div>
            <select>
                <option>
                    지역 선택
                </option>
                <option>
                    서울
                </option>
                <option>
                    경기도
                </option>
                <option>
                    수원
                </option>
            </select>
            <select>
                <option>
                    안락사 예정순
                </option>
                <option>

                </option>
            </select>
        </div>
        <div id="container1">
            <div id="container2">

            </div>
        </div>
    </div>
<footer id="footer" th:replace="publicHF/footer::footer">
    <div></div>
</footer>
</body>

</html>