<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <script src="http://code.jquery.com/jquery-latest.min.js"></script>

  <title>Title</title>
</head>

<body>

<h2 class="a"></h2>
<table></table>
</body>
<script>
  let ttt;
  $(document).ready(function(){
    $.ajax({
      type : "POST", //스프링부트에서 보내지는 메소드 타입 설정
      url : "/doglist", //스프링부트에서 보내지는 메소드 타입 설정
      dataType : "json", // 보내지는 데이터의 타입을 json으로 설정
      success : function(data){
  //전송된 데이터가 있을경우 아래의 for를 실행하여 데이터 출력
        for(var i in data){ //row = null까지
          var table = "<tr>"
          table += "<td>"+data[i].adNum+"</td>"
          table += "<td>"+data[i].adName+"</td>"
          table += "<td>"+data[i].adAge+"</td>"
          table += "<td>"+data[i].adArea+"</td>"
          table += "<td>"+data[i].adSex+"</td>"
          table += "<td>"+data[i].adSpec+"</td>"
          table += "<td>"+data[i].adVac+"</td>"
          table += "<td>"+data[i].adNeut+"</td>"
          table += "<td>"+data[i].adDead+"</td>"
          table += "<td>"+data[i].adMemo+"</td>"
          table += "<td>"+data[i].adGallery+"</td>"
          table += "</tr>";

          $('table').append(table);
          console.log(data[i]);
        }

      }
    });


  });

</script>
</html>