#mydog_container {
    border: solid 3px #16448E;
    border-radius: 10px;
    width: 700px;
    height: 700px;
    margin-top: 50px;
}
#header_container {
    font-weight: bold;
    border-top: solid 1px #d9d9d9;
    border-bottom: solid 1px #d9d9d9;
    padding: 20px;
}
.mydog_content {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    margin: 20px 0 0 0;
}

.line {
    border: solid 1px #d2d2d2;
    margin-top: 50px;
}

.line2 {
    border: solid 1px #d2d2d2;
    margin-top: 20px;
    margin-bottom: 20px;
}

#member_infor {
    display: flex;
    width: 480px;
    height: 200px;
    font-size: 16px;
    color: #16448E;
    flex-direction: column;
    justify-content: space-evenly;
}

#dog_infor {
    display: flex;
    width: 480px;
    height: 200px;
    font-size: 16px;
    color: #16448E;
    flex-direction: column;
    justify-content: space-evenly;
}

#date_infor {
    display: flex;
    width: 480px;
    height: 200px;
    font-size: 16px;
    color: #16448E;
    flex-direction: column;
    justify-content: space-evenly;
}

#infor_container {
    display: flex;
    width: 100%;
    height: 100%;
    border-bottom: solid 1px #d9d9d9;
}
