<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    <title>Title</title>
</head>

<body>

<h2 class="a"></h2>
<table></table>
</body>
<script>

    let ttt;
    $(document).ready(function(){
        $.ajax({
            type : "POST",
            url : "/userbuylists",
            dataType : "json",
            success : function(data){
                for(var i in data){
                    var table = "<tr>"
                    table += "<td>"+data[i].uName+"</td>"
                    table += "<td>"+data[i].uPhone+"</td>"
                    table += "<td>"+data[i].uAddr+"</td>"
                    table += "<td>"+data[i].uSaddr+"</td>"
                    table += "<td>"+data[i].uMemo+"</td>"
                    table += "<td>"+data[i].uCount+"</td>"
                    table += "<td>"+data[i].uCashsel+"</td>"
                    table += "</tr>";

                    $('table').append(table);
                    console.log(data);
                }

            }
        });


    });

</script>
</html>