<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/member/member_page.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/member_page.js"></script>
</head>

<body>
<header id="header" th:replace="publicHF/header::header"></header>

<div id="container0">

    <div id="content_top_font">
        <h2>마이 페이지</h2>
    </div>
    <div class="container1">
        <div class="content_name">
            <h3>기본 회원 정보</h3>
        </div>
    </div>
    <div class="content_line"></div>
    <div id="member_content">
        <ul class="member_info" id="info_name">
            <li>이름</li>
            <li>아이디</li>
            <li>휴대전화</li>
            <li>주소</li>
            <li>상세 주소</li>
        </ul>
        <ul class="member_info2" id="data_info">

        </ul>
    </div>
    <button class="button_st"><a href="/alter">회원 정보 변경</a></button>
    <button class="button_st2"><a href="/mypage/abanapplist">나의 입양 조회</a></button>
    <div class="container1">
        <div class="content_name">
            <h3>나의 구매 정보</h3>
        </div>
    </div>
    <div class="content_line"></div>
    <div id="purchase_dt">

    </div>
    <button class="button_st"><a href="/purchase">배송 내역 조회</a></button>

</div>

<footer id="footer" th:replace="publicHF/footer::footer">
    <div></div>
</footer>
</body>

</html>

