<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/public.css">
    <link rel="stylesheet" href="/css/member/mypage_abandoglist.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/mypage_abandoglist.js"></script>
</head>

<body>
<header id="header" th:replace="publicHF/header::header"></header>

<div id="container0">

    <div id="content_top_font">
        <h2>나의 입양 조회</h2>
    </div>
    <div id="mydog_container">
        <div id="mydog_content">
            <ul>
                <li>2</li>
                <li>아이디</li>
                <li>이름</li>
                <li>22</li>
                <li>이름</li>
                <li>01022222</li>
                <li>주소</li>
                <li>상세주소</li>
                <li>메모</li>
                <li>날짜</li>

        </div>
    </div>
    <button id="content_bt"><a href="/mypage">이전 페이지</a></button>
    <button id="content_bt2"><a href="/abandog/list">더 많은 유기견 보러가기</a></button>
</div>

<footer id="footer" th:replace="publicHF/footer::footer">
    <div></div>
</footer>
</body>

</html>

