<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/abandog/abandog_list.css">
    <link rel="stylesheet" href="/css/public.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/abandog_list.js"></script>
</head>

<body>
<header id="header" th:replace="publicHF/header::header"></header>
    <div id="line"></div>


    <div id="container0">
        <h1 id="main_nb">유기견 무료 입양</h1>
        <div id="container">
            <select>
                <option>
                    지역 선택
                </option>
                <option>
                    서울
                </option>
                <option>
                    경기도
                </option>
                <option>
                    수원
                </option>
            </select>
            <select>
                <option>
                    안락사 예정순
                </option>
                <option>

                </option>
            </select>
        </div>
        <div id="container1">
            <div id="container2">
                <!--
                <div class="abandoned_dog-wrap">
                    <div class="abandoned_dog-image"><img src="" alt=""></div>
                    <div class="abandoned_dog-text">
                        <p>아롱이</p>
                    </div>
                </div>
                <div class="abandoned_dog-wrap">
                    <div class="abandoned_dog-image"><img src="" alt=""></div>
                    <div class="abandoned_dog-text">
                        <p>ssss</p>
                    </div>
                </div>
                <div class="abandoned_dog-wrap">
                    <div class="abandoned_dog-image"><img src="" alt=""></div>
                    <div class="abandoned_dog-text">
                        <p>ddd</p>
                    </div>
                </div>
            </div>

            <div id="container2">
                <div class="abandoned_dog-wrap">
                    <div class="abandoned_dog-image"><img src="" alt=""></div>
                    <div class="abandoned_dog-text">
                        <p>ffff</p>
                    </div>
                </div>
                <div class="abandoned_dog-wrap">
                    <div class="abandoned_dog-image"><img src="" alt=""></div>
                    <div class="abandoned_dog-text">
                        <p>gggg</p>
                    </div>
                </div>
                <div class="abandoned_dog-wrap">
                    <div class="abandoned_dog-image"><img src="" alt=""></div>
                    <div class="abandoned_dog-text">
                        <p>hhhh</p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
<footer id="footer" th:replace="publicHF/footer::footer">
    <div></div>
</footer>
</body>

</html>