<footer id="footer" th:fragment="footer">
    <div id="footer_inner">
        <img src="img/footer_logo.png">
        <div id="ft_info">
            <ul id="ft_info_content">
                <div class="info">
                    <li>마음이
                        <p>경기도 성남시 중원구 광명로 377</p></li>
                    <li>대표이사</li>
                    <li>ㅇㅇㅇ</li>
                </div>
                <div class="info">
                    <li>고객센터
                        <p>02-559-3904</p></li>
                    <li>이메일 문의</li>
                    <li>mind@shingu.ac.kr</li>
                </div>
                <div class="info">
                    <li>개인 정보 처리 방침
                        <p>사이트 이용약관</p></li>
                </div>
            </ul>
        </div>
    </div>
</footer>