
<header id="header" th:fragment="header">
  <div class="top">top</div>
  <a id="header_logo" href="/main">
    <img id="logo" src="/img\logo.png">
    <h1 id="name">마음이</h1>
  </a>


  <ul id="nb_name">
    <li><a href="/info">입양 안내</a></li>
    <li><a href="/dog/list">반려견 조회</a></li>
    <li><a href="/abandog/list">유기견 분양</a></li>
    <li><a href="/petcesary">펫세사리</a></li>
  </ul>
  <ul id="nabvar">
    <li><a href="/login" th:if="${session.username == null}" >로그인</a></li>
    <li><a href="/join" th:if="${session.username == null}" >회원가입</a></li>
    <li> <p th:if="${session.username != null}" th:text="${session.username}+'님 안녕하세요'"> </p> </li>
    <li><a href="/logout" th:if="${session.username != null}" >로그아웃</a></li>
    <li><a href="/mypage" th:if="${session.username != null}" >마이페이지</a></li>
   <!-- <li th:if="${session.username != null}" th:text="${session.username}님 안녕하세요"> </li> -->

  </ul>

</header>