<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/public.css">
    <link rel="stylesheet" href="/css/admin/abandog_insert.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/abandog_update.js"></script>
    <script src="/js/abandog_insert.js"></script>
    <script src="/js/topButton.js"></script>
    <title>Document</title>
</head>
<body>
<header id="header" th:replace="publicHF/header::header"></header>
    <div id="container0">
        <div id="content_top_font">
            <h2>정보입력</h2>
        </div>
        <form onsubmit="return false">
            <div id="photo_sign_up">
                <div id="image_choice">
                    <label for="imageFile"><img src="/img/plus_button.png" id="image_plus"></label>
                    <input type="file" id="imageFile">
                </div>
            </div>
            <div id="iamge_caution"><h5>※ +버튼을 누르면 사진을 선택할 수 있습니다.(최대 3장 이하)</h5></div>
            <div id="abandoned_info">
                <div class="infomation">
                    <p>유기견 이름</p>
                    <input type="text" name="register" id="register">
                </div>
                <div class="infomation">
                    <p>나이</p>
                    <input type="text" name="age" id="age">
                </div>
                <div class="infomation">
                    <p>분양 지역</p>
                    <input type="text" name="area" id="area">
                </div>
                <div class="infomation">
                    <p>품종</p>
                    <input type="text" name="kind" id="kind">
                </div>
                <div class="infomation">
                    <p>견종</p>
                    <select name="anbandog_size" id="size">
                        <option value="대형견">대형견</option>
                        <option value="중형견">중형견</option>
                        <option value="소형견">소형견</option>
                    </select>
                </div>
                <div class="infomation">
                    <p>안락사 예정일</p>
                    <label for="date"></label>
                    <input type="date" name="date" id="date">
                </div>
                <div class="whether">
                    <p>성별</p>
                    <input type="radio" name="sex" value="남" checked>남
                    <input type="radio" name="sex" value="여">여
                </div>
                <div class="whether">
                    <p>중성화 여부</p>
                    <input type="radio" name="neutered" value="O" checked>예
                    <input type="radio" name="neutered" value="X">아니오
                </div>
                <div class="whether">
                    <p>접종 여부</p>
                    <input type="radio" name="inoculation" value="O" checked>예
                    <input type="radio" name="inoculation" value="X">아니오
                </div>
                <div class="whether">
                    <div class="textLengthWrap">
                        <p class="textCount">0자</p>
                        <p class="textTotal">/500자</p>
                    </div>
                    <p>특이사항</p>
                    <textarea id="text_box" placeholder="500자 이내로 쓰세요." maxlength="500"></textarea>
                </div>
            </div>
            <button type="button" id="submit">등록하기</button>
        </form>
    </div>
<footer id="footer" th:replace="publicHF/footer::footer">
    <div></div>
</footer>
</body>
</html>