<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/admin/product_insert.css">
    <link rel="stylesheet" href="/css/public.css">
    <link rel="stylesheet" href="/css/swiper.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/topButton.js"></script>
    <script src="/js/product_insert.js"></script>
</head>

<body>
<header id="header" th:replace="publicHF/header::header"></header>
    <div class="line"></div>
    
    <div id="container0">
        <h1 id="main_nb">상품 등록</h1>

        <div class="center_line"></div>

        <div id="photo_sign_up">
            <div id="image_choice">
                <label for="imageFile"><img src="https://github.com/HajongChan2/abandoned_dog_site/blob/main/Mind/src/main/resources/static/img/plus_button.png?raw=true" id="image_plus"></label>
                <input type="file" id="imageFile" accept=".jpg,.png,.jpeg,.GIF">
            </div>
        </div>
        <div id="iamge_caution"><h5>※ +버튼을 누르면 사진을 선택할 수 있습니다.</h5></div>

        <div id="abandoned_info">
            <div class="infomation">
                <p>상품 이름</p>
                <input type="text" name="title" id="title">
            </div>
            <div class="infomation">
                <p>가격</p>
                <input type="text" name="register" id="price">
            </div>
            <div class="infomation">
                <p>배송비</p>
                <input type="text" name="area" id="dpay">
            </div>
            <div class="infomation">
                <p>판매자</p>
                <input type="text" name="area" id="register">
            </div>
            <div class="infomation">
                <p>수량</p>
                <input type="text" name="area" id="count">
            </div>
            <div class="infomation">
                <p>소제목</p>
                <input type="text" name="memo" id="memo">
            </div>
            <div class="infomation list">
                <p>품목</p>
                <select name="type" id="type">
                    <option value="1">인식표</option>
                    <option value="2">외장칩</option>
                    <option value="3">기타</option>
                </select>
            </div>
            <div class="contents">
                <div class="contents_text">
                    <p>내용</p>
                    <label for="product_content_img"></label>
                    <input id="product_content_img" type="file" name="product_content_img" accept="image/*" onchange="productcontent(this)">
                </div>
                <h4>※사진 이미지를 누르면 사진이 선택됩니다.</h4>
                <div class="content" contentEditable="true">

                </div>
            </div>

</div>
<div class="center_line"></div>

        <button type="button" class="register_button">등록하기</button>
</div>
<footer id="footer" th:replace="publicHF/footer::footer"></footer>
</body>

</html>