<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/service/product_select_form.css">
    <link rel="stylesheet" href="css/public.css">
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
    <header id="header">
        <img id="logo" src="img\logo.png">
        <h1 id="name">마음이</h1>

        <ul id="nb_name">
            <li><a href="">입양 안내</a></li>
            <li><a href="">반려견 조회</a></li>
            <li><a href="">유기견 분양</a></li>
            <li><a href="">펫세사리</a></li>
        </ul>
    </header>
    <div id="container0">
        <div id="content_top_font">
            <h2>구매 조회 본인인증</h2>
        </div>
        <form onsubmit="return false">
                <div id="abandoned_info">
                <div class="infomation">
                    <p>구매자</p> 
                    <input type="text" name="title" id="title">
                </div>
                <div class="infomation">
                    <p>주문번호</p>
                    <input type="text" name="area" id="order_num" readonly>
                    </div>
                <div class="infomation">
                    <p>휴대전화</p> 
                    <input type="text" onkeypress='return checkNumber(event)' name="register" id="register" placeholder="-를 빼고 입력하세요.">
                </div>
                
            </div>
            <button id="submit">인증하기</button>
        </form>
    </div>
    <footer>
        <div id="footer"></div>
    </footer>
</body>
<script src="js/abandog_form.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="js/addr.js"></script>
</html>

