<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/swiper.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/silde.js"></script>
</head>
<body>
    <header id="header" th:replace="publicHF/testheader::header"></header>
    <div class="line"></div>

    <div id="main_slider" class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="img/banner.jpg" alt="slide 1"></div>
            <div class="swiper-slide"><img src="img/banner.jpg" alt="Slide 2" /></div>
            <div class="swiper-slide"><img src="img/banner.jpg" alt="Slide 3" /></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

    <div id="container0">
        <div id="container">
            <div class="box" id="box1"></div>
            <div class="box_content2">
                <div class="box_content">
                    <p class="box_text">아이들의 보금자리가 되어주고 싶다면 먼저 읽어주세요.</p>
                    <input type="button" class="box_button" value="입양 안내 사항 보러가기">
                </div>
            </div>
        </div>

        <div id="container">
            <div class="box" id="box2"></div>
            <div class="box_content2">
                <div class="box_content">
                    <p class="box_text">마음이에서는 우리의 반려견을 조회할 수 있어요.</p>
                    <input type="button" class="box_button" value="반려견 조회 하러 가기">
                </div>
            </div>
        </div>
        <div id="container">
            <div class="box" id="box3"></div>
            <div class="box_content2">
                <div class="box_content">
                    <p class="box_text">우리 마음이에서만 볼 수 있는 아이들을 보러가요.</p>
                    <input type="button" class="box_button" value="마음이 아이들 보러가기">
                </div>
            </div>
        </div>

        <div id="container">
            <div class="box" id="box4"></div>
            <div class="box_content2">
                <div class="box_content">
                    <p class="box_text">우리 반려견들을 알아 볼 수 있는 아이템들이 있어요.</p>
                    <input type="button" class="box_button" value="다양한 펫 아이템 보러가기">
                </div>
            </div>
        </div>
    </div>

    <div id="dog_bg">
        <h1 class="dog_t">마음이 유기견 안내</h1>
        <div id="container0">
            <div class="dog-wrap">
                <div class="dog-image"><img src="img/dog1.jpg" ></div>
                <div class="dog-name">
                    <p></p>
                </div>
            </div>
            <div class="dog-wrap">
                <div class="dog-image"><img src=""></div>
                <div class="dog-name">
                    <p></p>
                </div>
            </div>
            <div class="dog-wrap">
                <div class="dog-image"><img src=""></div>
                <div class="dog-name">
                    <p></p>
                </div>
            </div>
            <div class="dog-wrap">
                <div class="dog-image"><img src=""></div>
                <div class="dog-name">
                    <p></p>
                </div>
            </div>
            <div class="dog-wrap">
                <div class="dog-image"><img src=""></div>
                <div class="dog-name">
                    <p></p>
                </div>
            </div>
            <div class="dog-wrap">
                <div class="dog-image"><img src="" ></div>
                <div class="dog-name">
                    <p></p>
                </div>
            </div>
            <div class="dog-wrap">
                <div class="dog-image"><img src=""></div>
                <div class="dog-name">
                    <p></p>
                </div>
            </div>
            <div class="dog-wrap">
                <div class="dog-image"><img src=""></div>
                <div class="dog-name">
                    <p></p>
                </div>
            </div>
        </div>
    </div>


    <h1 class="shop_t">인기 펫세사리 아이템</h1>
    <div id="container1">
        <div class="shop-wrap">
            <div class="shop-image"><img src="img/product.jpg" alt=""></div>
            <div class="shop_text">
                <p></p>
            </div>
        </div>
        <div class="shop-wrap">
            <div class="shop-image"><img src="" alt=""></div>
            <div class="shop_text">
                <p></p>
            </div>
        </div>
        <div class="shop-wrap">
            <div class="shop-image"><img src="" alt=""></div>
            <div class="shop_text">
                <p></p>
            </div>
        </div>
        <div class="shop-wrap">
            <div class="shop-image"><img src="" alt=""></div>
            <div class="shop_text">
                <p></p>
            </div>
        </div>
        <div class="shop-wrap">
            <div class="shop-image"><img src="" alt=""></div>
            <div class="shop_text">
                <p></p>
            </div>
        </div>
        <div class="shop-wrap">
            <div class="shop-image"><img src="" alt=""></div>
            <div class="shop_text">
                <p></p>
            </div>
        </div>
    </div>

    <footer>
        <div id="footer"></div>
    </footer>
</body>

</html>