<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="publicHF/HFlayout">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/petcesory.css">
    <link rel="stylesheet" href="css/public.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body></body>
<header id="header" th:replace="publicHF/testheader::header"></header>
    <div id="line"></div>


    <div id="container0">
        <h1 id="main_nb">펫세사리</h1>
        <div id="container">
            <input type="button" class="pet_items" value="인식표">
            <input type="button" class="pet_items" value="외장칩">
            <input type="button" class="pet_items" value="기타">


        </div>
        <div id="container1">
            <div id="container2">
                <div class="petcesory-wrap">
                    <div class="petcesory-image"><img src="" alt=""></div>
                    <div class="petcesory-text">
                        <p></p>
                    </div>
                </div>
                <div class="petcesory-wrap">
                    <div class="petcesory-image"><img src="" alt=""></div>
                    <div class="petcesory-text">
                        <p></p>
                    </div>
                </div>
                <div class="petcesory-wrap">
                    <div class="petcesory-image"><img src="" alt=""></div>
                    <div class="petcesory-text">
                        <p></p>
                    </div>
                </div>
            </div>

            <div id="container2">
                <div class="petcesory-wrap">
                    <div class="petcesory-image"><img src="" alt=""></div>
                    <div class="petcesory-text">
                        <p></p>
                    </div>
                </div>
                <div class="petcesory-wrap">
                    <div class="petcesory-image"><img src="" alt=""></div>
                    <div class="petcesory-text">
                        <p></p>
                    </div>
                </div>
                <div class="petcesory-wrap">
                    <div class="petcesory-image"><img src="" alt=""></div>
                    <div class="petcesory-text">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div id="footer"></div>
    </footer>
</th:block>

</html>