<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="publicHF/HFlayout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/public.css">
    <link rel="stylesheet" href="/css/product_detail.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/product_datail.js"></script>
    <title>Document</title>
</head>
<th:block layout:fragment="content">
    <div id="container0">
        <form action="/payment">
            <div id="content_top_font">
                <h2>펫세사리 상세</h2>
            </div>
            <div id="product_info">
                <div id="product_image">
                    <img src="/img/product2.png">
                </div>
                <div class="description">
                    <div class="description info">
                        <ul class="description_content">
                            <li>이름</li>
                            <li>가격</li>
                            <li>배송</li>
                            <li>판매자</li>
                            <li>수량</li>
                        </ul>
                        <ul class="description_content">
                            <li>개목걸이</li>
                            <li>12500원</li>
                            <li>2500원</li>
                            <li>관리자</li>
                            <div class="count-wrap count">
                                <button type="button" class="minus">-</button>
                                <input type="text" class="inp" value="1" />
                                <button type="button" class="plus">+</button>
                            </div>
                        </ul>
                    </div>
                    <div id="purchase">
                        <button id="purchase">구매하기</button>
                    </div>  
                </div>
            </div>
        </form>
    </div>
    <footer>
        <div id="footer"></div>
    </footer>
</th:block>
</html>