<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="publicHF/HFlayout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/public.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    <title>Title</title>
</head>

<th:block layout:fragment="content">

<h2 class="a"></h2>
<table></table>
</th:block>
<script>
    let ttt;
    $(document).ready(function(){
        $.ajax({
            type : "POST",
            url : "/ttttt",
            dataType : "json",
            success : function(data){

               console.log(data[2].uMemo);
                $(".a").text(data[2].uName);

                for(var i in data){
                    var table = "<tr>"
                    table += "<td>"+data[i].uName+"</td>"
                    table += "<td>"+data[i].uPhone+"</td>"
                    table += "<td>"+data[i].uAddr+"</td>"
                    table += "<td>"+data[i].uSaddr+"</td>"
                    table += "<td>"+data[i].uMemo+"</td>"
                    table += "<td>"+data[i].uCount+"</td>"
                    table += "<td>"+data[i].uCashsel+"</td>"
                    table += "</tr>";

                    $('table').append(table);
                    console.log(data[i]);
                }

            }
        });


    });

</script>
</html>